<div class="app-header">
  <h1 class="app-heading">{{title}}</h1>
</div>

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class='login-element'>
      <div class="login-container">
          <div class="login-box-header">
          </div>
          <div class="login-box-body">
              <mat-grid-list cols="9" rowHeight="75px">
                  <mat-grid-tile [rowspan]="1" class="login-icon">
                      
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                          <mat-form-field>
                                  <input [(ngModel)]="model.username" matInput placeholder="Enter your username" [type]="text">
                                </mat-form-field>
                    </mat-grid-tile>
              </mat-grid-list>
        
              <mat-grid-list cols="9" rowHeight="100px">
                  <mat-grid-tile [rowspan]="1"  class="login-icon">
                     
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="7">
                        <mat-form-field>
                                <input type="password" [(ngModel)]="model.password" matInput placeholder="Enter your password" required/>
                              </mat-form-field>
                  </mat-grid-tile>
              
                </mat-grid-list>

              <button (click)="login()" mat-raised-button class="login-button"> 
                  <mat-icon>input</mat-icon> Login
              </button>
              <alert></alert>
              <mat-progress-bar class="progressbar" mode="indeterminate" *ngIf="loading" [color]="green"></mat-progress-bar>
          </div>
          
          
      </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>