<div class="container" style="margin-top:5%">

  <mat-grid-list cols="3">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class='register-element'>
            <div class="register-container">
                <div class="register-box-header">
                 
                </div>
                <div class="register-box-body">
                    <mat-grid-list cols="9" rowHeight="75px">
                        <mat-grid-tile [rowspan]="1" class="register-icon">
                         <mat-icon>person</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="7">
                            <mat-input-container class="justifier">
                                <input [(ngModel)]="model.username" matInput placeholder="Username" text="text" >
                            </mat-input-container>
                        </mat-grid-tile>
                    </mat-grid-list>
              
                    <mat-grid-list cols="9" rowHeight="100px">
                        <mat-grid-tile [rowspan]="1"  class="register-icon">
                            <mat-icon>lock</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="7">
                            <mat-input-container class="justifier">
                                <input [(ngModel)]="model.password" matInput placeholder="Password" text="password">
                            </mat-input-container>
                        </mat-grid-tile>
                        
                    </mat-grid-list>

                    <mat-grid-list cols="9" rowHeight="100px">
                            <mat-grid-tile [rowspan]="1"  class="register-icon">
                               
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="7">
                                <mat-input-container class="justifier">
                                    <input [(ngModel)]="model.checkpassword" matInput placeholder="Confirm Password" text="password">
                                </mat-input-container>
                            </mat-grid-tile>
                            
                        </mat-grid-list>
                   
                    <button (click)="register()" mat-raised-button class="register-button"> 
                        <mat-icon>input</mat-icon> Register
                    </button>
      
                </div>
                
            </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      
      </mat-grid-list>